.main {
  padding: 4rem;
}

.FooterSocials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.fooSoc {
  margin: 1rem 1.4rem;
}

.FooterSocials a {
  text-decoration: none;
  color: #0bce5a;
}

.fooSoc h4 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .fooSoc {
    margin-top: 2rem;
  }

  .fooSoc h4 {
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .main {
    padding: 1rem;
  }
}
