.main {
  background-color: #060809;
  width: 100%;
  color: #fff;
  padding: 7rem;
  padding-top: 8rem;
}

.footer h2 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.563rem;
  letter-spacing: -0.015rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  border-bottom: 1px solid #0bd344;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.main hr {
  color: #0bce5a;
  opacity: 0.5;
  width: 100%;
  margin-top: 3rem;
}

.form {
  align-items: center;
  justify-content: center;
  /* border: 1px solid #0bce5a; */
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #acaca84f;
  color: #fff;
  transition: 0.2s ease-out;
}

input:hover {
  background-color: transparent;
  border: 1px solid #acaca84f;
}

.diffInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #acaca84f;
  font-size: 1rem;
  padding: 1rem 1rem;
  transition: 0.2s ease-out;
  color: white;
}

textarea:hover {
  background-color: transparent;
  border: 1px solid #acaca84f;
}

.form button {
  padding: 1rem 1rem;
  background-color: #0bce5a;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5rem;
  transition: 0.5s ease-out;
}

.form button:hover {
  background-color: #126e37;
}
