.main {
  width: 100%;
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.careerContainer {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.careerTxt {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.careerTxt h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 2.563rem;
  letter-spacing: -0.015rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
}

.careerTxt span {
  width: 100px;
  height: 600px;
  color: #3bb06a;
}

.careerTxt p {
  color: #060809;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.013rem;
  line-height: 1.625rem;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 0.938rem;
}

.careerContainer button {
  background-color: #0bce5a;
  color: #fff;
  border-radius: 5px;
  border-style: none;
  justify-content: center;
  padding: 0.475rem 2rem;
  line-height: 2;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease-out;
  margin-top: 1.5rem;
}

.careerContainer button:hover {
  opacity: 2;
  background-color: #126e37;
}
/* transform: translateY(-10px); */
